.tmp.drivedownload/*
.idea/*
App/Composer/vender/*
.env
SQL/backup/*
/App/Composer/vendor/rakit/validation/.editorconfig
/App/Composer/vendor/rakit/validation/.gitattributes
/App/Composer/vendor/rakit/validation/.gitignore
/App/Composer/vendor/rakit/validation/src/Rules/Accepted.php
/App/Composer/vendor/rakit/validation/src/Rules/After.php
/App/Composer/vendor/rakit/validation/src/Rules/Alpha.php
/App/Composer/vendor/rakit/validation/src/Rules/AlphaDash.php
/App/Composer/vendor/rakit/validation/src/Rules/AlphaNum.php
/App/Composer/vendor/rakit/validation/src/Rules/AlphaSpaces.php
/App/Composer/vendor/rakit/validation/src/Attribute.php
/App/Composer/vendor/autoload.php
/App/Composer/vendor/composer/autoload_classmap.php
/App/Composer/vendor/composer/autoload_namespaces.php
/App/Composer/vendor/composer/autoload_psr4.php
/App/Composer/vendor/composer/autoload_real.php
/App/Composer/vendor/composer/autoload_static.php
/App/Composer/vendor/rakit/validation/src/Rules/Before.php
/App/Composer/vendor/rakit/validation/src/Rules/Interfaces/BeforeValidate.php
/App/Composer/vendor/rakit/validation/src/Rules/Between.php
/App/Composer/vendor/rakit/validation/src/Rules/Callback.php
/App/Composer/vendor/symfony/dotenv/CHANGELOG.md
/App/Composer/vendor/composer/ClassLoader.php
/App/Composer/vendor/rakit/validation/composer.json
/App/Composer/vendor/symfony/dotenv/composer.json
/App/Composer/vendor/rakit/validation/src/Rules/Date.php
/App/Composer/vendor/rakit/validation/src/Rules/Traits/DateUtilsTrait.php
/App/Composer/vendor/rakit/validation/src/Rules/Defaults.php
/App/Composer/vendor/rakit/validation/src/Rules/Different.php
/App/Composer/vendor/rakit/validation/src/Rules/Digits.php
/App/Composer/vendor/rakit/validation/src/Rules/DigitsBetween.php
/App/Composer/vendor/symfony/dotenv/Dotenv.php
/App/Composer/vendor/rakit/validation/src/Rules/Email.php
/App/Composer/vendor/rakit/validation/src/ErrorBag.php
/App/Composer/vendor/symfony/dotenv/Exception/ExceptionInterface.php
/App/Composer/vendor/rakit/validation/src/Rules/Extension.php
/App/Composer/vendor/rakit/validation/src/Rules/Traits/FileTrait.php
/App/Composer/vendor/symfony/dotenv/Exception/FormatException.php
/App/Composer/vendor/symfony/dotenv/Exception/FormatExceptionContext.php
/App/Composer/vendor/rakit/validation/src/Helper.php
/App/Composer/vendor/rakit/validation/src/Rules/In.php
/App/Composer/vendor/composer/installed.json
/App/Composer/vendor/rakit/validation/src/Rules/Integer.php
/App/Composer/vendor/rakit/validation/src/Rules/Ip.php
/App/Composer/vendor/rakit/validation/src/Rules/Ipv4.php
/App/Composer/vendor/rakit/validation/src/Rules/Ipv6.php
/App/Composer/vendor/rakit/validation/src/Rules/Json.php
/App/Composer/vendor/composer/LICENSE
/App/Composer/vendor/symfony/dotenv/LICENSE
/App/Composer/vendor/rakit/validation/LICENSE.md
/App/Composer/vendor/rakit/validation/src/Rules/Lowercase.php
/App/Composer/vendor/rakit/validation/src/Rules/Max.php
/App/Composer/vendor/rakit/validation/src/Traits/MessagesTrait.php
/App/Composer/vendor/rakit/validation/src/Rules/Mimes.php
/App/Composer/vendor/rakit/validation/src/MimeTypeGuesser.php
/App/Composer/vendor/rakit/validation/src/Rules/Min.php
/App/Composer/vendor/rakit/validation/src/MissingRequiredParameterException.php
/App/Composer/vendor/rakit/validation/src/Rules/Interfaces/ModifyValue.php
/App/Composer/vendor/rakit/validation/src/Rules/NotIn.php
/App/Composer/vendor/rakit/validation/src/Rules/Numeric.php
/App/Composer/vendor/symfony/dotenv/Exception/PathException.php
/App/Composer/vendor/rakit/validation/phpcs.xml
/App/Composer/vendor/rakit/validation/src/Rules/Present.php
/App/Composer/vendor/rakit/validation/README.md
/App/Composer/vendor/symfony/dotenv/README.md
/App/Composer/vendor/rakit/validation/src/Rules/Regex.php
/App/Composer/vendor/rakit/validation/src/Rules/Required.php
/App/Composer/vendor/rakit/validation/src/Rules/RequiredIf.php
/App/Composer/vendor/rakit/validation/src/Rules/RequiredUnless.php
/App/Composer/vendor/rakit/validation/src/Rules/RequiredWith.php
/App/Composer/vendor/rakit/validation/src/Rules/RequiredWithAll.php
/App/Composer/vendor/rakit/validation/src/Rules/RequiredWithout.php
/App/Composer/vendor/rakit/validation/src/Rules/RequiredWithoutAll.php
/App/Composer/vendor/rakit/validation/src/Rule.php
/App/Composer/vendor/rakit/validation/src/RuleNotFoundException.php
/App/Composer/vendor/rakit/validation/src/RuleQuashException.php
/App/Composer/vendor/rakit/validation/src/Rules/Same.php
/App/Composer/vendor/rakit/validation/src/Rules/Traits/SizeTrait.php
/App/Composer/vendor/rakit/validation/src/Traits/TranslationsTrait.php
/App/Composer/vendor/rakit/validation/src/Rules/TypeArray.php
/App/Composer/vendor/rakit/validation/src/Rules/UploadedFile.php
/App/Composer/vendor/rakit/validation/src/Rules/Uppercase.php
/App/Composer/vendor/rakit/validation/src/Rules/Url.php
/App/Composer/vendor/rakit/validation/src/Validation.php
/App/Composer/vendor/rakit/validation/src/Validator.php
